.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem; /* altura relativa */
  background-color: #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem; /* 20px */
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
  z-index: 1000;
}

.header h1 {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
}

.div-perfil {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.perfil {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/* menú desplegable */
.perfil-container {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  min-width: 10rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index: 10;
}

.dropdown-menu a {
  display: block;
  padding: 0.625rem; /* 10px */
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.perfil-container:hover .dropdown-menu {
  display: block;
}

/* Responsive Header */
@media (max-width: 768px) {
  .header h1 {
    font-size: 1.2rem;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
}

/* solo visible en móvil */
@media (max-width: 700px) {
  .hamburger {
    display: flex;
  }
}

.options{
  width: 10%;
}

