.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #e8e8e8;
  transition: width 0.3s ease;
  overflow-x: hidden;
  
}
.SideBar-Space{
  margin-top: 210%;
}

.sidebar ul {
  list-style: bloc;
  padding: 0;
  margin: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
}

.sidebar a {
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  transition: 0.2s ease;
}


.logocasaglass{
  margin-left: 10%;
  width: 80%;
  margin-top: 10%;
  margin-bottom: 30%;
}

.logos{
    width: 20px;
    margin-left: 10%;
    margin-right: 5%;
}

.sidebar a:hover {
  background: #2424a8;
  color: #ffffff;
  
}
.sidebar a:hover .logos {
  filter: brightness(0) invert(1); /* vuelve el PNG blanco */
}

.icon {
  font-size: 20px;
  min-width: 20px;
  margin-right: 10px;
}

.sidebar:hover .text {
  opacity: 1;
}
