/* Sidebar base */
<<<<<<< HEAD
/* PRUEBAAA*/
=======
/* Prueba commit */
>>>>>>> d0bd537fed2ecb62405e9359f1695520c56f4b3d
.sidebar {
  position: fixed;
  top: 4rem; /* debajo del header */
  left: 0;
  width: 15rem; /* ≈240px */
  height: calc(100% - 4rem);
  background-color: #e8e8e8;
  overflow-y: auto;
  transition: transform 0.3s ease;
}

/* Escritorio: siempre visible */
@media (min-width: 700px) {
  .sidebar {
    transform: translateX(0);
  }
}

/* Móvil: oculta por defecto */
@media (max-width: 700px) {
  .sidebar {
    transform: translateX(-100%);
    z-index: 2000;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

/* Enlaces */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar li {
  display: flex;
  align-items: center;
}

.sidebar a {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  padding: 0.9375rem;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
}

.sidebar a:hover {
  background: #2424a8;
  color: #fff;
}

.sidebar a:hover .logos {
  filter: brightness(0) invert(1);
}

/* Logo */
.logocasaglass {
  margin-left: 10%;
  width: 80%;
  margin-top: 10%;
  margin-bottom: 30%;
}

.logos {
  width: 1.25rem; /* 20px */
  margin-left: 10%;
  margin-right: 5%;
}

.SideBar-Space {
  flex: 1;
}
